@font-face {
   font-family: 'Chivo';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///G:/My%20Drive/FCT/4%C2%BA%20ANO/IPM/Projeto%20IPM/Website/Public%20Release/fonts/Chivo/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Chivo';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///G:/My%20Drive/FCT/4%C2%BA%20ANO/IPM/Projeto%20IPM/Website/Public%20Release/fonts/Chivo/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Chivo';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///G:/My%20Drive/FCT/4%C2%BA%20ANO/IPM/Projeto%20IPM/Website/Public%20Release/fonts/Chivo/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Chivo';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///G:/My%20Drive/FCT/4%C2%BA%20ANO/IPM/Projeto%20IPM/Website/Public%20Release/fonts/Chivo/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Chivo';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///G:/My%20Drive/FCT/4%C2%BA%20ANO/IPM/Projeto%20IPM/Website/Public%20Release/fonts/Chivo/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Chivo';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///G:/My%20Drive/FCT/4%C2%BA%20ANO/IPM/Projeto%20IPM/Website/Public%20Release/fonts/Chivo/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Chivo';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///G:/My%20Drive/FCT/4%C2%BA%20ANO/IPM/Projeto%20IPM/Website/Public%20Release/fonts/Chivo/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Chivo';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///G:/My%20Drive/FCT/4%C2%BA%20ANO/IPM/Projeto%20IPM/Website/Public%20Release/fonts/Chivo/900italic.ttf') format('truetype');
}
